body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  /* height: 2000px; */
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dd {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
